.app.dark {
    --inverted-bg-color: rgb(244, 220, 232);
    --inveted-primary-color: rgb(125 15 79);
    --inveted-secondary-color: rgb(51, 13, 58);

    --bg-color: rgb(37, 17, 36);
    --primary-color: rgb(253 90 197);
    --secondary-color: rgb(203, 145, 191);
}
